/* ===== BASE ===== */

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available; /* for mobile browser sizing */
    margin: 0;
}

html {
    height: -webkit-fill-available; /* for mobile browser sizing */
}

h1, h2, h3, h4, p {
    margin: 0;
}

img {
    object-fit: cover;
}

ul, ol, li {
    padding: 0;
    margin: 0;
}


/* ===== TYPESTYLES ===== */

html {
    font-size: 10px;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'IBM Plex Sans', sans-serif;
*/

.loader-content {
    font-family: 'IBM Plex Sans',sans-serif;
    font-weight: 300;
    font-size: 1.35rem;
    letter-spacing: 1px;
    line-height: 1.5;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.title-note {
    font-size: 1rem;
    text-transform: lowercase;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 1.5;
}

.search-line, 
.form-msg {
    font-family: 'IBM Plex Sans',sans-serif;
    font-weight: 300;
    font-size: 1.35rem;
    letter-spacing: 1px;
    line-height: 1.5;
}

.form-input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    height: 50px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15rem;
    letter-spacing: 5px;
    line-height: 0.75;
}

@media all and (min-width: 350px) {

    h3 {
        font-size: 20rem;
    }

}

.directory-header-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.park-lat,
.park-long {
    font-family: 'IBM Plex Sans',sans-serif;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 5px;
}

.park-code {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

@media all and (min-width: 525px) {

    .park-lat,
    .park-long {
        letter-spacing: 10px;
    }

    .park-code {
        font-size: 7rem;
    }

}

.park-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 1.5;
}

.park-topics {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
}

.park-contact,
.park-address,
.park-alert,
.park-links,
.park-hours,
.park-para {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.park-hours,
.park-para {
    line-height: 1.6;
}

@media all and (min-width: 950px) {

    h1 {
        font-size: 7rem;
    }

    .loader-content,
    .search-line, 
    .form-msg {
        font-size: 1.5rem;
    }

}


/* ===== LANDING ===== */

/* HEADER */
.landing-wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

.title-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.title {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-between;
}

.title-span {
    display: block;
    text-align: right;
    margin: 0 0 4rem;
}

.title-span:last-child {
    margin: 0;
}

.title-note {
    position: absolute;
    margin: 0;
    transform-origin: left;
    transform: rotate(270deg) translate(-100%);
}

@media all and (min-width: 950px) {

    .landing-wrapper {
        grid-template: 1fr / 1fr 1fr;
    }

    .title-wrapper {
        justify-content: flex-end;
        padding: 0 0 0 4rem;
    }

    .title {
        position: inherit;
        transform: translate(0, -1rem);
        width: auto;
    }

    .title-note {
        position: inherit;
        transform: rotate(0deg);
        margin: 0;
    }

}

/* SEARCH */

.search-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: lightgrey;
}

.search-details {
    padding: 2rem;
}

.search-line {
    margin: 2rem 0;
}

@media all and (min-width: 950px) {
    
    .search-wrapper {
        padding: 4rem;
        background: none;
    }

    .search-details {
        max-width: 425px;
        background: lightgrey;
        padding: 4rem;
    }

    .search-line {
        margin: 4rem 0;
    }

}

.state-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.state-form-mini {
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: -70px;
    right: 50%;
    transform: translate(50%);
    padding: 1rem 2rem;
    background: white;
    z-index: 2;
    transition: bottom 0.5s;
}

.show-state-form-mini {
    bottom: 0;
    max-width: 450px;
}

@media all and (min-width: 1026px) {

    .state-form-mini {
        width: 300px;
        right: 4rem;
        transform: translate(0);
    }

    .show-state-form-mini {
        bottom: 4rem;
    }

}

.state-dropdown {
    width: 47.5%;
    padding: 1rem;
}

.state-submit {
    width: 45%;
    padding: 1rem;
}

.state-dropdown-error {
    background: red;
}

.form-msg {
    position: fixed;
    bottom: 0;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    opacity: 1;
    background: lightgray;
}

@media all and (min-width: 950px) {

    .form-msg {
        bottom: 5rem;
    }

}

.form-msg-fade-in {
    opacity: 1;
    animation-name: form-msg-fade-in;
    animation-duration: 0.5s;
}

@keyframes form-msg-fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.form-msg-fade-out {
    opacity: 0;
    animation-name: form-msg-fade-out;
    animation-duration: 0.5s;
}

@keyframes form-msg-fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.card-fade-out {
    opacity: 0;
    animation-name: card-fade-out;
    animation-duration: 0.5s;
}

@keyframes card-fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.card-fade-in {
    opacity: 1;
    animation-name: card-fade-in;
    animation-duration: 0.5s;
}

@keyframes card-fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.to-top-btn {
    position: fixed;
    height: 50px;
    width: 50px;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    transition: top 0.5s;
}

.show-to-top-btn {
    top: 2rem;
}


/* ===== DIRECTORY ===== */

.directory-wrapper {
    padding: 0 2rem;
}

.directory-header {
    display: grid;
    grid-template: auto auto auto / 1fr;
    row-gap: 5rem;
    padding: 5rem 0;
    z-index: 0;
}

@media all and (min-width:775px) {

    .directory-header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        grid-template: 1fr / 50% 1fr 1fr;
        row-gap: 0;
    }

    .directory-wrapper {
        padding: 0 5rem;
    }

}

.directory-header-p {
    text-align: right;
}

.directory-list {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8rem;
    padding: 4rem 0 10rem;
}

.park-card {
    margin: auto;
    background: lightgrey;
    width: 100%;
    max-width: 450px;
    height: 450px;
    display: grid;
    position: relative;
    padding: 2rem;
}

.park-card.card-front {
    grid-template: 2fr 1fr 1fr / auto;
    grid-template-areas:
        "p-cod"
        "p-nam"
        "p-top";
}

.park-card.card-back {
    grid-template: minmax(20%, auto) 1fr 1fr 2fr 1fr / 1fr;
    grid-gap: 2rem;
    grid-template-areas:
        "p-nam"
        "p-con"
        "p-add"
        "p-lin"
        "p-ale";
}

@media all and (min-width: 525px) {

    .park-card.card-back {
        grid-template: minmax(20%, auto) auto 2fr 2fr 3fr / auto 1fr minmax(auto,40%);
        grid-gap: 1rem;
        grid-template-areas:
            "p-nam p-nam p-nam"
            "p-con p-add p-add"
            "p-ale p-ale p-hou"
            "p-lin p-lin p-hou"
            "p-par p-par p-par";
    }

}

.park-card:nth-child(even) {
    margin-top: 0;
}

.park-card:nth-child(odd) {
    margin-bottom: 0;
}

@media all and (min-width: 525px) {

    .park-card {
        width: 450px;
    }

}

@media all and (min-width: 1026px) {

    .directory-list {
        grid-template-columns: 1fr 1fr;
        gap: 5vw 2rem;
        padding: 4rem 0 15rem;
    }

    .park-card:nth-child(even) {
        margin-top: 4rem;
    }
    
    .park-card:nth-child(odd) {
        margin-bottom: 4rem;
    }

}

.card-switch {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: none;
}

.card-switch-icon {
    transform-origin: center;
    transform: rotate(0);
    transition: transform 0.5s;
}

.card-switch-icon-rotate {
    transform: rotate(45deg);
}

.park-code {
    grid-area: p-cod;
    color: white;
}

.park-name {
    grid-area: p-nam;
}

.park-topics {
    grid-area: p-top;
    align-self: end;
}

.park-contacts {
    grid-area: p-con;
}

.park-address {
    grid-area: p-add;
    text-align: right;
}

.park-alert {
    grid-area: p-ale;
    align-self: end;
}

.park-links {
    grid-area: p-lin;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 1.5rem;
    grid-template-areas:
        "l-dir l-fee"
        "l-nps l-nps";
}

.park-links-cam {
    grid-template-areas:
        "l-dir l-fee"
        "l-nps l-cam";
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.link-dir {
    grid-area: l-dir;
}

.link-fees {
    grid-area: l-fee;
}

.link-nps {
    grid-area: l-nps;
}

.link-webcam {
    grid-area: l-cam;
}

.park-hours {
    grid-area: p-hou;
    display: none;
    grid-template: auto / 20% auto;
    justify-content: end;
    align-content: end;
}

.days-list {
    text-align: right;
    margin-right: 2rem;
}

.park-para {
    grid-area: p-par;
    align-self: end;
    display: none;
}

@media all and (min-width: 525px) {

    .park-hours {
        display: grid;
    }

    .park-para {
        display: block;
    }

}

.park-lat,
.park-long {
    position: absolute;
    width: 100%;
    color: lightgray;
}

.park-lat {
    transform: translateY(-9.5px);
    padding: 0 0 0 1rem;
}

.park-long {
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
    left: -9.5px;
    text-align: right;
    padding: 0 1rem 0 0;
}


/* ===== LOADER ===== */

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    animation-name: loader;
    animation-duration: 5s;
}

@keyframes loader {
    0% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.quote-wrapper {
    max-width: 525px;
    opacity: 0;
    animation-name: loader-quote;
    animation-duration: 5s;
    padding: 0 4rem;
}

@keyframes loader-quote {
    0% {opacity: 0;}
    10% {opacity: 1;}
    80% {opacity: 1;}
    90% {opacity: 0;}
}

.loader-author {
    margin: 2rem 0;
    text-align: right;
}

.loader-title {
    text-align: right;
}


/* ===== HIDDEN ===== */

.hidden {
    display: none;
}